*{
    font-family: Helvetica, "游ゴシック";
}

body{
    margin: 0;
}
h3{
    margin: 0;
}

#sidebar{
    padding: 0;
    margin: 0;
    width: 60px;
    right: 0;
    height: 100vh;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    ul{
        margin: 0;
        li{
            margin-right: 10px;
            text-align: center;
        }
    }
}

.box{
    width: auto;
    height: 100vh;
    background-color: aliceblue;
    //border-radius: 10px;
    background-image: url("/public/img/yuyu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    /*
    .img{
        background-image: url("/public/img/mypic.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        width: 200px;
        height: 200px;
        //border-radius: 50px;
    }
    */
    /*.content{
        width: 300px;
        height: 350px;
        background-color: white;
        opacity: 0.5;
        margin: auto;
        h1{
            color: black;
        }
        h2{
            color: black;
        }
        ul{
            li{
                color: black;
            }
        }
    }*/
}

ul{
    li{
        list-style: none;
    }
}

.timeline{
    display: block;
    #first{
        height: 50vh;
        display: flex;
        justify-content: center;
        #first-img{
            width: 256px;
            height: 192px;
            margin: 10px;
            background-image: url("/public/img/mizu2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            //border-radius: 10px;
        }
        #first-content{
            
        }
    }
    #second{
        height: 50vh;
        display: flex;
        justify-content: center;
        #second-img{
            width: 256px;
            height: 192px;
            margin: 10px;
            float: right;
            background-image: url("/public/img/mizu3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            //border-radius: 10px;
        }
        #second-content{
            
        }
    }
    #third{
        height: 50vh;
        display: flex;
        justify-content: center;
        #third-img{
            width: 256px;
            height: 192px;
            margin: 10px;
            float: right;
            background-image: url("/public/img/mizu8.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            //border-radius: 10px;
        }
        #third-content{
            
        }
    }
    #forth{
        height: 50vh;
        display: flex;
        justify-content: center;
        #forth-img{
            width: 325px;
            height: 220px;
            margin: 10px;
            float: right;
            background-image: url("/public/img/poke.png");
            background-repeat: no-repeat;
            background-size: cover;
            //border-radius: 10px;
        }
        #forth-content{
            
        }
    }
    #fifth{
        height: 50vh;
        display: flex;
        justify-content: center;
        #fifth-img{
            width: 325px;
            height: 220px;
            margin: 10px;
            float: right;
            background-image: url("/public/img/poke.png");
            background-repeat: no-repeat;
            background-size: cover;
            //border-radius: 10px;
        }
        #fifth-content{
            
        }
    }
    #sixth{
        height: 50vh;
        display: flex;
        justify-content: center;
        #sixth-img{
            width: 350px;
            height: 220px;
            margin: 10px;
            float: right;
            background-image: url("/public/img/bulletin.png");
            background-repeat: no-repeat;
            background-size: cover;
            //border-radius: 10px;
        }
        #sixth-content{
            
        }
    }
    
}

.parallax{
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#parallax-img1{
    background-image: url("/public/img/mizu5.jpg");
}
#parallax-img2{
    background-image: url("/public/img/mizu4.jpg");
}
#parallax-img3{
    background-image: url("/public/img/mizu6.jpg");
}
.img-data{
    text-align: center;
    margin: 0 auto;
    color: cornsilk;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px black;
}

#video{
    width: 100%;
    margin: auto;
}