@charset "UTF-8";
* {
  font-family: Helvetica, "游ゴシック"; }

body {
  margin: 0; }

.box {
  width: auto;
  height: 100vh;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  justify-content: center; }
  .box .img {
    background-image: url("/public/img/mypic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    width: 200px;
    height: 200px; }
  .box .content {
    margin: auto; }

ul li {
  list-style: none; }

.timeline {
  display: block; }
  .timeline #first {
    height: 50vh;
    display: flex;
    justify-content: center; }
    .timeline #first #first-img {
      width: 256px;
      height: 192px;
      margin: 10px;
      background-image: url("/public/img/mizu2.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
  .timeline #second {
    height: 50vh;
    display: flex;
    justify-content: center; }
    .timeline #second #second-img {
      width: 256px;
      height: 192px;
      margin: 10px;
      float: right;
      background-image: url("/public/img/mizu3.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
  .timeline #third {
    height: 50vh;
    display: flex;
    justify-content: center; }
    .timeline #third #third-img {
      width: 256px;
      height: 192px;
      margin: 10px;
      float: right;
      background-image: url("/public/img/mizu8.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
  .timeline #forth {
    height: 50vh;
    display: flex;
    justify-content: center; }
    .timeline #forth #forth-img {
      width: 325px;
      height: 220px;
      margin: 10px;
      float: right;
      background-image: url("/public/img/poke.png");
      background-repeat: no-repeat;
      background-size: cover; }
  .timeline #fifth {
    height: 50vh;
    display: flex;
    justify-content: center; }
    .timeline #fifth #fifth-img {
      width: 325px;
      height: 220px;
      margin: 10px;
      float: right;
      background-image: url("/public/img/poke.png");
      background-repeat: no-repeat;
      background-size: cover; }
  .timeline #sixth {
    height: 50vh;
    display: flex;
    justify-content: center; }
    .timeline #sixth #sixth-img {
      width: 350px;
      height: 220px;
      margin: 10px;
      float: right;
      background-image: url("/public/img/bulletin.png");
      background-repeat: no-repeat;
      background-size: cover; }

.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#parallax-img1 {
  background-image: url("/public/img/mizu5.jpg"); }

#parallax-img2 {
  background-image: url("/public/img/mizu4.jpg"); }

#parallax-img3 {
  background-image: url("/public/img/kakeibo.png"); }

.img-data {
  text-align: center;
  margin: 0 auto;
  color: cornsilk;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 10px black; }

#video {
  width: 100%;
  margin: auto; }
