doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title タイトル
        link(href="./css/style.css", rel="stylesheet")
    body
        div#content
            div.box
                div.img
                div.content
                    h1 鶴田　智大
                    ul
                        li 平成6年7月7日~平成28年5月28日
                        li 出身地：広島県
                    h2 経歴
                    ul
                        li ('ω')ノ小学校
                        li (*´ω｀*)中学校
                        li ( *´艸｀)高等学校
                        li 筑波大学
            div.timeline
                div#first
                    div#first-img
                    div#first-content
                        h3 河原町
                        h4 2015年11月
                        p ミズゴロウとみんなで京都の鴨川行きましたよー
                div#second
                    div#second-content
                        h3 伏見稲荷大社
                        h4 2015年9月
                        p 伏見稲荷大社に観光してアニメの聖地めぐりしました
                    div#second-img
            div.parallax#parallax-img1
                div.img-data 
                    h3 平等院鳳凰堂
                    h4 2015年7月
            div.timeline
                div#third
                    div#third-img
                    div#third-content
                        h3 雪遊び
                        h4 2015年1月
                        p ミズゴロウと雪遊びしてた
                div#forth
                    div#forth-content
                        h3 大学の課題
                        h4 2014年10月
                        p ポケモンのバトルシーン作った
                    div#forth-img
            video#video(src="./img/tonbo.mp4" autoplay loop)
        div#footer