doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title Socia Memory s
        link(href="/public/css/index.css", rel="stylesheet")
        //bootstrap
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css")

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="/public/js/login.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js")


    body
        div#social Social Memory s
        div.container
            input#loginButton(type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" value="Enter")
        //ログインのためのモーダルウィンドウ表示
        div(class="modal fade" id="myModal") 
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                    div(class="modal-body")
                        <p>ログイン画面                             
                        div(class="form-group")                                  
                            input(type="text" class="form-control" placeholder="ユーザーID" aria-describedby="sizing-addon2")                    
                        div(class="form-group")
                            input(type="text" class="form-control" placeholder="パスワード" aria-describedby="sizing-addon2")

                    div(class="modal-footer")
                        div(class="form-group")
                            input(type="button" value="ログイン"  class="btn btn-primary pull-right" onClick="login()")
                        
                        input(type="button" value="ゲストとしてログイン"  class="btn btn-primary center-block" onClick="guest()")