doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title トップページ
        link(href="./css/normalize.css", rel="stylesheet")
        link(href="./css/main.css", rel="stylesheet")
        script(src="https://code.jquery.com/jquery-1.7.1.js")
    body
        //ヘッダ画像
        div#head
            div Social Memory s
        //ユーザリストの表示
        div#content
            div.col
                a(href="./person0.html", target="_blank")
                    div#img0
                    div.name 河村友歌
                a(href="./person1.html" target="_blank")
                    div#img1
                    div.name ('ω')ノ
                a(href="#" target="_blank")
                    div#img2
                    div.name Tsuyoshi
            div.col
                a(href="./person0.html", target="_blank")
                    div#img0
                    div.name 河村友歌
                a(href="./person1.html" target="_blank")
                    div#img1
                    div.name ('ω')ノ
                a(href="#" target="_blank")
                    div#img2
                    div.name Tsuyoshi
            div.col
                a(href="./person0.html", target="_blank")
                    div#img0
                    div.name 河村友歌
                a(href="./person1.html" target="_blank")
                    div#img1
                    div.name ('ω')ノ
                a(href="#" target="_blank")
                    div#img2
                    div.name Tsuyoshi
            div.col
                a(href="./person0.html", target="_blank")
                    div#img0
                    div.name 河村友歌
                a(href="./person1.html" target="_blank")
                    div#img1
                    div.name ('ω')ノ
                a(href="#" target="_blank")
                    div#img2
                    div.name Tsuyoshi